.body {
  background: $bgColor;
  color: $primaryColor;

  max-width: 1440px;
  min-width: 320px;

  margin: 0 auto;
  padding: 0;

  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: $desktop) {
  .body {
    border: 1px solid $primaryColor;

  }
}


