.footer {
  padding: 20px;
  min-height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $primaryColor;

  &__text-container {
    box-sizing: border-box;

  }
  &__quote {
    margin: 0 auto;
    max-width: 256px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 1px;
    text-align: left;
  }
}

@media screen and (min-width: $tablet) {
  .footer {
    padding: 0 50px;
    box-sizing: border-box;
    flex-direction: row;
    min-height: 317px;

    &__text-container {
      min-height: 317px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__quote {
      margin: 0 0 50px auto;
    }
  }
}
