.gallery {
  box-sizing: border-box;
  padding: 20px 0;
  border-bottom: 1px solid $primaryColor;

  &__text-container {
    margin: 0 auto;
    width: calc(100% - 40px);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;

    flex-grow: 1;

    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__image {
    display: block;
    margin: 0 auto 40px;
    width: calc(100% - 40px);
  }

  &__button {
    width: 24px;
    height: 20px;
    transition: opacity .3s;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }

    &_type_prev {
      margin-right: 16px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .gallery {
    padding: 34px 0 50px;

    &__text-container {
      max-width: 660px;
    }

    &__title {
      font-size: 46px;
      line-height: 46px;
    }

    &__image {
      width: 700px;
    }

    &__button {
      width: 42px;
      height: 34px;

      &_type_prev {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .gallery {
    padding: 0;

    &__image {
      width: 719px;

      margin: 0 auto 50px 0;
    }

    &__text-container {
      width: 620px;
      margin: 0 auto 50px;
    }
  }
}




