.gallery {
  box-sizing: border-box;
  padding: 20px 0;
  border-bottom: 1px solid $primaryColor;
}

@media screen and (min-width: $tablet) {
  .gallery {
    padding: 34px 0 50px;
  }
}

@media screen and (min-width: $desktop) {
  .gallery {
    padding: 0;
  }
}




